.LoginForm {
    margin: auto;
    margin-top: 30px;
    padding: 15px;
}
.LoginForm form {
    margin-top: 20px;
    border: solid lightgray 1px;
    border-radius: 4px;
    padding: 15px;
    overflow: hidden;
}

.LoginForm label {
    font-weight: bold;
}

.LoginForm button {
    float: right;
}
